*{
  box-sizing: border-box;
  cursor: url('./img/icon-hoja.png')16 16, auto;

}
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f4f4;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
